.DS_Store
logs
felix-cache
shared/.js
shared/.jvm
project/project
project/target
target
tmp
.history
conf/felix-cache
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin/
